body{
    background: linear-gradient(to bottom,#1a0033,#000);
    color:white;
    text-align:center;
    font-family:Arial;
}

#board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:15px;
    justify-content:center;
    margin-top:30px;
}

.cell{
    width:100px;
    height:100px;
    background:#000;
    border-radius:20px;
    box-shadow:0 0 15px purple;
    font-size:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

#musicBtn{
    position:absolute;
    top:10px;
    right:10px;
}
