body{
margin:0;
background:#0f001a;
font-family:Arial;
text-align:center;
color:white;
}

#musicToggle{
position:absolute;
top:10px;
right:10px;
padding:8px 12px;
cursor:pointer;
}

.board{
display:grid;
grid-template-columns:repeat(3,100px);
gap:10px;
justify-content:center;
margin-top:20px;
}

.cell{
width:100px;
height:100px;
background:#111;
border-radius:15px;
font-size:40px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
box-shadow:0 0 10px #c300ff;
}

.X{
color:#00f7ff;
}

.O{
color:#ff00c8;
}
